{
  "printWidth": 80,
  "tabWidth": 4,
  "tabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "rangeStart": 0,
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "vueIndentScriptAndStyle": false
}
